<%- include('template/cabecera', {tituloweb: 'La tiendita de don Pepe' }); %>
    <div class="row justify-content-center pt-4">
        <img class="col-auto" src="https://i.ytimg.com/vi/B-7_XKRhKq0/maxresdefault.jpg" alt="">
    </div>
    <%- include('template/footer'); %>